<!DOCTYPE <html>
<html>

<head>
    <title>G4-Goofy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/images/favicon.ico" rel="shortcut icon">

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/style_order_detail.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/megamenu.css" rel="stylesheet" type="text/css" media="all" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <header>
            <% include ./partials/header-other.ejs %>
        </header>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a> <span class="divider"></span></li>
                <li><a href="/order">Đơn hàng</a> <span class="divider"></span></li>
                <li class="active">Chi tiết đơn hàng</li>
            </ul>
            <div id="subcategory" class="col-sm-3">
                <h4> TÀI KHOẢN CỦA BẠN </h4>
                <ul class="class">
                    <li><a href="/user/user_detail">Quản lý tài khoản</a></li>
                    <li><a href="./thong_tin_tai_khoan.htm">Thông tin tài khoản</a></li>
                    <li><a href="./so_dia_chi.htm">Sổ địa chỉ</a></li>
                    <li><a href="/order" class="active">Đơn hàng của tôi</a></li>
                    <li><a href="/">Danh sách yêu thích</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="header-manage">
                    <h3>Chi tiết đơn hàng</h3>
                </div>
                <p>Mã đơn hàng: <%=order._id %></p>
                <br>
                <p>Ngày đặt hàng: <%= order.date_purchase.getDate() %>/<%= order.date_purchase.getMonth() + 1 %>/<%= order.date_purchase.getFullYear() %></p>
                <br>               
                <div class="product-content">
                    <table>
                        <tr>
                            <th style="width: 40%;">
                                <p>Sản phẩm</p>
                            </th>
                            <th style="width: 20%;">
                                <p>Số lượng</p>
                            </th>
                            <th style="width: 20%;">
                                <p>Giá bán</p>
                            </th>
                            <th style="width: 20%;">
                                <p>Tạm tính</p>
                            </th>
                        </tr>
                        <% order.book.forEach(function(index){  %>
                        <tr>
                            <td>
                                <p><strong><%= index.title %></strong></p>
                            </td>
                            <td>
                                <p><%= index.num%></p>
                            </td>
                            <td>
                                <p><%= index.price%> đ</p>
                            </td>
                            <td>
                                <p><%= index.price * index.num %> đ</p>
                            </td>
                        </tr>
                        <% }); %>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <p>Tạm tính</p>
                            </td>
                            <td>
                                <p><%= order.total %> đ</p>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <p>Phí vận chuyển</p>
                            </td>
                            <td>
                                <p><%= order.shipfee %> đ</p>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <p><strong>Tổng tiền</strong></p>
                            </td>
                            <td>
                                <p><%= order.total - order.shipfee %> đ</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br>

    <footer>
      <% include ./partials/footer.ejs %>
    </footer>
    </div>
</body>

</html>