<!DOCTYPE <html>
<html>

<head>
    <title>G4-Goofy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/images/favicon.ico" rel="shortcut icon">

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/style_quan_ly_tai_khoan.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/megamenu.css" rel="stylesheet" type="text/css" media="all" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js "></script>
    <script src="/javascripts/bootstrap.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
</head>

<body>
    <div id="wrapper">
        <header>
           <% include ./partials/header-other.ejs %>
        </header>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a> <span class="divider"></span></li>
                <li class="active">Quản lý tài khoản</li>
            </ul>
            <div id="subcategory" class="col-sm-3">
                <h4> TÀI KHOẢN CỦA BẠN </h4>
                <ul class="class">
                    <li><a href="/users/user_detail" class="active">Quản lý tài khoản</a></li>
                    <li><a href="/users/change_detail">Thông tin tài khoản</a></li>
                    <li><a href="/users/address_note">Sổ địa chỉ</a></li>
                    <li><a href="./don_hang.htm">Đơn hàng của tôi</a></li>
                    <li><a href="./sach_yeu_thich.htm">Danh sách yêu thích</a></li>
                </ul>

                <br>

            </div>
            <div class="col-sm-9">
                <div class="header-manage">
                    <h3>Quản lý tài khoản</h3>
                </div>
                <div class="manage-content">
                    <h4>Xin chào, <strong><%= users.name %>!</strong></h4>
                    <hr>
                    <h4><strong>THÔNG TIN TÀI KHOẢN</strong></h4>
                    <hr>
                    <table>
                        <tr>
                            <th>
                                <p>Thông tin liên hệ</p>
                                <a href="/users/change_detail/1">Thay đổi</a>

                            </th>
                            <th>
                                <p>Địa chỉ giao hàng mặc định</p>
                                <a href="/users/address_note">Sổ địa chỉ</a>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <p><strong><%= users.name %></strong></p>
                                <p><%= users.email %></p>
                                <p><%= users.telephone %></p>
                                <p><a href="/users/change_detail/2">Sửa mật khẩu</a></p>
                            </td>
                            <% if (!defaultAddress) { %>
                                <td>
                                    <p><strong><%= users.name %></strong></p>
                                    <p><%= users.address %></p>
                                    <p><%= users.telephone %></p>
                                </td>
                            <% } else { %>
                                <td>
                                    <p><strong><%= defaultAddress.name %></strong></p>
                                    <p><%= defaultAddress.street %>, <%= defaultAddress.subdistrict %>, <%= defaultAddress.district %>, <%= defaultAddress.province %> </p>
                                    <p><%= defaultAddress.telephone %></p>
                                </td>
                            <% } %>
                        </tr>
                    </table>
                </div>
                <hr>
                <div class="my_order">
                    <h4><strong>ĐƠN HÀNG GẦN ĐÂY</strong></h4>
                    <hr>
                    <table>
                        <tr>
                            <th>
                                <p><strong>Đơn hàng#</strong></p>
                            </th>
                            <th>
                                <p><strong>Ngày mua</strong></p>
                            </th>
                            <th>
                                <p><strong>Gởi đến</strong></p>
                            </th>
                            <th>
                                <p><strong>Tổng tiền</strong></p>
                            </th>
                            <th>
                                <p><strong>Tình trạng</strong></p>
                            </th>
                            <th>

                            </th>
                        </tr>
                        <tr>
                            <td>
                                <a href="chi_tiet_don_hang.htm" target="blank">24565</a>
                            </td>
                            <td>
                                <p>31/03/2017</p>
                            </td>
                            <td>
                                <p>Thái Nguyễn Nhật Quang</p>
                            </td>
                            <td>
                                <p style="color: orangered;"><strong>68.000 đ</strong></p>
                            </td>
                            <td>
                                <p>Chờ xác nhận</p>
                            </td>
                            <td>
                                <a href="chi_tiet_don_hang.htm" target="blank">Xem đơn hàng</a>
                            </td>
                        </tr>
                    </table>
                </div>


            </div>
        </div>

        <br>

        <footer>
            <% include ./partials/footer.ejs %>
        </footer>
    </div>
</body>

</html>